.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 5fr 40px;
  grid-template-areas:
    "header header header"
    "lsidebar main rsidebar"
    "footer footer footer";
}

.header-area {
  grid-area: header;
  /* padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px; */
}
.main-area {
  grid-area: main;
  margin-top: 100px;
  justify-self: center;
}
.rsidebar-area {
  grid-area: rsidebar;
}
.lsidebar-area {
  grid-area: lsidebar;
}
.footer-area {
  grid-area: footer;
}

.grid-pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "item1 item2 item3 item4";
}

.item1-area {
  grid-area: item1;
  justify-self: center;
  margin: 25px 0px 75px 0px;
}
.item2-area {
  grid-area: item2;
  justify-self: center;
  margin: 25px 0px 75px 0px;
}
.item3-area {
  grid-area: item3;
  justify-self: center;
  margin: 25px 0px 75px 0px;
}

.item4-area {
  grid-area: item4;
  justify-self: center;
  margin: 25px 0px 75px 0px;
}
